.pgb-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.progress-bar {
    margin-right: 5px;
    width: 100%;
    height: .6rem;
    transition: background-color .5s;
}

#skills > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 0 10rem;
}

#skills-container {
    flex: 8;
    padding: 0 10rem;
}

#skills > div > img {
    flex: 2;
    object-fit: cover;
    width: 0;           /* otherwise it would use the default width of the image, now flex has full control of the image width */
    height: 100%;
    border-left: var(--border-width-image) solid var(--border-color);
}

#skills-container table {
    width: 100%;
}

#skills-container td {
    width: 20rem;
    padding: 1rem 3rem;
}

#reference-container {
    padding: 0 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 1600px) {
    #skills-container {
        padding: 0;
    }
}

@media (min-width: 1920px) {
    #skills-container {
        padding: 0 20rem;
    }
}