:root {
    --primary-color: #1e1e1e;
    --secondary-color: #1b9c86;
    --tertiary-color: #188a77;
    --quaternary-color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", system-ui;
    font-size: 1.25rem;
    background-color: #1e1e1e;
    color: #fff;
    line-height: 1.6;
}

section, .section-height {
    height: 100vh;
    padding-top: 60px; /* navigation bar height on top of page */
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 60px;
    background-color: rgba(30, 30, 30);
    padding: 1rem 3rem;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    font-size: 1rem;
    margin-left: 1.5rem;
    opacity: 50%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.scroller {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.scroller section {
    scroll-snap-align: start;
}

.passEvents {
    pointer-events: none;
}

.green-text {
    color: var(--secondary-color);
}

.typewriter::after {
    content: '_';
    animation: blink 0.7s infinite;
    color: white;
}

.background {
    position: fixed;
}

.flare-background {
    min-height: 100vh;
    width: calc(100vw - 10px);
    z-index: -1;

    transition: background-color .5s;
}

.section-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#background-video {
    object-fit: cover;
    z-index: -2;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #188a77;
}