* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", system-ui;
    font-size: 1.25rem;
    background-color: #1e1e1e;
    color: #fff;
    line-height: 1.6;
}

section {
    height: 100vh;
    padding-top: 60px; /* navigation bar height on top of page */
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 60px;
    background-color: rgba(30, 30, 30);
    padding: 1rem 3rem;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    font-size: 1rem;
    margin-left: 1.5rem;
    opacity: 50%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1b9c86;
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.scroller {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.scroller section {
    scroll-snap-align: start;
}

.passEvents {
    pointer-events: none;
}

.green-text {
    color: #1b9c86;
}

.typewriter::after {
    content: '_';
    animation: blink 0.7s infinite;
    color: white;
}

.background {
    position: fixed;
}

.flare-background {
    min-height: 100vh;
    width: calc(100vw - 10px);
    z-index: -1;

    transition: background-color .5s;
}

.progress-bar {
    margin-right: 5px;
    width: 100%;
    height: 10px;
    transition: background-color .5s;
}

#title {
    position: absolute;
    font-weight: 600;

    transition: top .5s, left .5s;
}

#home-content {
    display: flex;
    margin-top: 5rem;
    margin-left: 55rem;
    height: 75vh;
}

#diagonal-line {
    min-width: 10vw;
}

#line {
    background-color: #1b9c86;
    height: 100%;
    width: 0.7rem;
    transform: rotate(20deg);
    margin: -10 0;
}

#i-am {
    position: relative;
    top: 25rem;
    left: 4rem
}

#i-am > p {
    font-size: 2.5rem;
    font-weight: 500;
}

#arrow {
    position: relative;
    padding: 0 50%;
    animation: MoveUpDown 1s linear infinite;
}

#background-video {
    object-fit: cover;
    z-index: -2;
}

#about {
    display: flex;
    align-items: center;
    width: 100%;
}

#about > div {
    width: 50%;
}

#profile-image-container {
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

#profile-image-container > img {
    max-width: auto;
    height: 100vh;
    margin-right: 2rem;
    border-radius: 10px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    shape-outside: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    -webkit-shape-outside: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    shape-margin: 1em;
    position: relative;
}

#profile-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 11.25rem;
    width: 0.5rem;
    height: 100%;
    background-color: #1b9c86;
    transform: rotate(9deg);
    transform-origin: top right;
    z-index: 2;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#table-skills {
    border-spacing: 100px 30px;
}

#table-skills td {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 20rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb {
    background: #1b9c86;
    border-radius: 5px;;
}

::-webkit-scrollbar-thumb:hover {
    background: #188a77;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 0.5rem;
    }
}