* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui;
    background-color: #1e1e1e;
    color: #fff;
    line-height: 1.6;
}

section {
    min-height: 100vh;
    padding: 2rem;
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    min-height: 60px;
    background-color: rgba(30, 30, 30);
    padding: 1rem 3rem;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    font-size: 1rem;
    margin-left: 1.5rem;
    opacity: 50%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1b9c86;
    transition: width 0.3s ease;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-me {
    display: flex;
    align-items: center;
}

.about-me img {
    width: 300px;
    height: 100vh;
    margin-right: 2rem;
    border-radius: 10px;
}

.green-text {
    color: #1b9c86;
}

.typewriter::after {
    content: '_';
    animation: blink 0.7s infinite;
    color: white;
}

.background {
    position: fixed;
}

.flare-background {
    min-height: 100vh;
    width: calc(100vw - 10px);
    z-index: -1;

    transition: opacity .5s;
}

#title {
    position: absolute;
    font-weight: 600;

    transition: top .5s, left .5s;
}

#home-content {
    display: flex;
    margin-top: 5rem;
    margin-left: 55rem;
    height: 75vh;
}

#diagonal-line {
    min-width: 10vw;
}

#line {
    background-color: #1b9c86;
    height: 100%;
    width: 0.7rem;
    transform: rotate(20deg);
    margin: -10 0;
}

#i-am {
    position: relative;
    top: 25rem;
    left: 4rem
}

#i-am > p {
    font-size: 2.5rem;
    font-weight: 500;
}

#arrow {
    position: relative;
    padding: 0 50%;
    animation: MoveUpDown 1s linear infinite;
}

#background-video {
    object-fit: cover;
    z-index: -2;
}

#flare-background-home {
    background-image:
        radial-gradient(ellipse at bottom right, rgba(0,0,0,0) 0%, rgba(30,30,30,0.5) 70%, rgba(30,30,30,1) 78%),
        radial-gradient(ellipse at top left, rgba(0,0,0,0) 0%, rgba(30,30,30,0.5) 70%, rgba(30,30,30,1) 78%);
}

#flare-background-about {
    background-image: radial-gradient(ellipse at bottom right, rgba(0,0,0,0) 0%, rgba(30,30,30,1) 50%);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb {
    background: #1b9c86;
    border-radius: 5px;;
}

::-webkit-scrollbar-thumb:hover {
    background: #188a77;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 0.5rem;
    }
}